$background-principal:#FAAB78;
$tamano-font:1rem;
$color-font:black;
$style-font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$negrita:bold;
$h1pc:3rem;
$parrafopc:1.5rem;
$h1celular:1.2rem;
$parrafocelular:1rem;
$colortitulo:white; 
$null:none;

$paletadecolores:(
    "marron":$background-principal,
    "beige": beige,
    1: rgb(0, 0, 0),
);