#body_index{
    height:180vh;
    background: no-repeat;
    background-color: $background-principal!important;
    overflow-x: hidden;
}
#main_index{
    height: 150vh;
    background: no-repeat;
    overflow-x: hidden;
}
